<!-- Start of App Universal Heading component -->
<app-universal-heading [headingType]="'h1'">This is Universal heading</app-universal-heading>
<app-universal-heading [headingType]="'h2'">This is Universal heading</app-universal-heading>
<app-universal-heading [headingType]="'h3'">This is Universal heading</app-universal-heading>
<app-universal-heading [headingType]="'h4'">This is Universal heading</app-universal-heading>
<app-universal-heading [headingType]="'h5'">This is Universal heading</app-universal-heading>
<app-universal-heading [headingType]="'h6'">This is Universal heading</app-universal-heading>
<!-- End of App Universal Heading component -->

<router-outlet></router-outlet>
